@import "~includes.scss";

.map {

    height: 100%;

    &__buttons {
        position: relative;
        display: flex;
        margin: 1rem;
        justify-content: space-between;
    }

    &__location-name {
        position: absolute;
        left: 50%;
        top: -100px;
        width: 70%;
        margin-left: -35%;
        border: 1px solid #808080;
        padding: 0.5rem;
    }

    &__button {
        @include draewil-button(#ffffff, #00caff); 
    }

    &__button--save {
        @include draewil-button(#ffffff, #000000); 
    }
}